[build]
  publish = "dist"
  command = "npm run build"

[build.environment]
  NODE_VERSION = "18"
  VUE_APP_API_BASE_URL = "https://webxemphim-bxpf.onrender.com/api"

[[redirects]]
  from = "/*"
  to = "/index.html"
  status = 200
